body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 9vh 81vh 10vh;
    gap: 0px;
    background-color: #2196F3;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}
.sidebar {
    grid-column: 1;
    padding: 5px;
    grid-row: 1 / 3;
}
.header {
    grid-column: 2 / 4;
    padding: 5px;
    grid-row: 1;
}
.main {
    grid-column: 2 / 4;
    padding: 5px;
    grid-row: 2 / 4;
}
.settings {
    grid-column: 1;
    padding: 5px;
    grid-row: 3;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    margin: 5px;
    font-size: 30px;
}