body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#FFFFFF, #FFF384);
}
.grid-container {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 9vh 81vh 10vh;
    gap: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}
.grid-container > div {
    text-align: center;
    font-size: 30px;
}
.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    border-left: 0vw;
    border-top: 0vw;
    border-right: 0.25vw solid #000000;
    border-bottom: 0.25vw solid #000000;
}
.header {
    grid-column: 2 / 4;
    grid-row: 1;
    border-top: 0vw;
    border-right: 0vw;
    border-bottom: 0.25vw solid #000000;
    border-left: 0.25vw solid #000000;
}
.main {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    border-right: 0vw;
    border-bottom: 0vw;
    border-top: 0.25vw solid #000000;
    border-left: 0.25vw solid #000000;
}
.settings {
    grid-column: 1;
    grid-row: 3;
    border-bottom: 0vw;
    border-left: 0vw;
    border-top: 0.25vw solid #000000;
    border-right: 0.25vw solid #000000;
}