<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href={{ stylesheet }}>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title></title>
    </head>
    <body>
        <div id="grid-container">
            <div id="sidebar">
                <div id="chatbot-select">
                    <img src="../static/chatbot-icon.png" id="chatbot-icon">
                    <p id="chatbot-name">
                        Chatbot
                    </p>
                </div>
            </div>
            <div id="header">
                <form action="/search" method="post" autocomplete="off" id="search-form">
                    <input type="text" id="search-bar" name="search-bar" placeholder="Search messages here..." list="messages-list">
                </form>
            </div>
            <div id="main">
                <form action="/message" method="post" autocomplete="off" id="message-form">
                    <button type="submit" id="microphone-button">
                    </button>
                    <input type="text" id="message-input" name="message-input" placeholder="Enter message here...">
                    <button type="submit" id="message-submit-button">
                    </button>
                </form>
            </div>
            <div id="settings">
                <form action="/theme" id="colour-mode-form" method="post">
                    <button type="submit" id="colour-mode-button">
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>